.accountsWrapper{
    width: 60%;
    margin: 1.25rem auto;
}
.addNewIcon{
    margin: 0rem 1rem 0rem 0rem;
    color: #13b977;
    
}
.linkBtn{
    text-decoration: none;
    color: black;
}
.linkBtn:hover{
    color: #13b977;
}
.accountsImageHeader{
    display: flex;
    margin:1rem 1rem;
    justify-content: center;
    align-items: center;
}
.accountsImage{
    height: 7rem;
    
}

.expensesShortList{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: 3rem;
    background-color: rgba(250,160,160, 0.3)
    

}
.shortListIcon{
    height: 3rem;
}
.incomesShortList{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: 3rem;
    background-color: rgb(178,224,184,0.3) 

}
.shortListCategoryWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 3rem;
}