.accountsWrapper{
    width: 60%;
    margin: 1.25rem auto;
}
.addNewIcon{
    margin: 0rem 1rem 0rem 0rem;
    color: #13b977;
    
}
.linkBtn{
    text-decoration: none;
    color: black;
}
.linkBtn:hover{
    color: #13b977;
}