.accountsWrapper{
    width: 60%;
    margin: 1.25rem auto;
}
.addNewIcon{
    margin: 0rem 1rem 0rem 0rem;
    color: #13b977;
    
}
.linkBtn{
    text-decoration: none;
    color: black;
}
.linkBtn:hover{
    color: #13b977;
}
.accountsImageHeader{
    display: flex;
    margin:1rem 1rem;
    justify-content: center;
    align-items: center;
}
.accountsImage{
    height: 7rem;
    
}

.expensesShortList{
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: left;
    height: 3rem;
    background-color: rgba(250,160,160, 0.15)
    

}
.incomesShortList{
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: left;
    height: 3rem;
    background-color: rgb(178,224,184,0.15) 

}
.shortListCategoryWrapper{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    align-items: center;
  
}
.shortListIcon{
    height: 3rem;
}
.transactionDescription{
    width: 6rem;
    text-align: left;
}
.shortListIcon>svg{
    vertical-align:top;
}
.tableDescriptionOverflow{
    white-space: nowrap; 
    width: 12.5rem;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#deleteSavingsIcon{
    display: flex;
    justify-content: flex-end;

}
.accountBalanceShortList{
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    color: #319260
   
}
.accountsbarChart{
    width:50%

   
}
