.wrapperForColumns{
    display: flex;
    flex-direction: row;
}
.transactionListWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.transactionList{
    display: flex;
    justify-content:space-between;
    gap: 5rem;
    align-items: center;
    width: 40vw;
}
.transactionListTitles{
    width: 15vw;
}
.category{
    display: flex;
    gap: 0.6rem;
}
.transactionAmmountOutcome{
    color:red;
    font-weight: 500;
}
.transactionAmmountIncome{
    color:green;
    font-weight: 500;
}
.sortWrapper{
    width: 60%;
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 3rem auto;
}
#category-btn{
    color:#13b977;
    background-color:white;
    min-width: 15vw;
    max-width: 20vw;
}
#date-btn{
    color:#13b977;
    background-color:white;
    min-width: 15vw;
    max-width: 20vw;
}
#incomes-btn{
    color:#13b977;
    background-color:white;
    min-width: 15vw;
    max-width: 20vw;
}
.transactionsHeader{
    padding: 0.5rem 0.5rem;
}
.listandChart{
    display: flex;
    justify-content: center;
    gap: 5rem;
    
}
.pieChart{
    width: 20rem;
}
.shortListIcon{
    height: 2rem;
}
.expensesShortList{
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: left;
    height: 3rem;
    background-color: rgba(250,160,160, 0.15)
    

}
.incomesShortList{
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: left;
    height: 3rem;
    background-color: rgb(178,224,184,0.15) 

}