.exit{
    background-color: #13b977;
    color: white;
}
.exit:hover{
    background-color: #088050;
    color: white;
}
.onclickNav:active{
    background-color: #13b977;
    color: white;
}
#logOutButton{
    background-color: #13b977;
    color: white;
}