.registerPaperStyle{
    padding: 1.8rem 1.25rem;
    width: 35rem;
    margin: 3.0rem auto;
}
.fieldStyle{
    margin: 0.5rem auto;
    
}
.formStyle{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
#submitButton{
    color: white;
}
.loginRegisterLinks{
    margin: 1rem auto;  
    color: #717f99
}
.loginRegisterLinks:hover{
    color: #13b977;
}
.loader {
    margin: 1rem auto; 
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #13b977;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); 
 }}